:root {
    --cell-size: 50px;
    --border-width: 3px;
    --map-size: 40;
    --font: rgb(0, 0, 0);
    --background: rgb(211, 211, 211);
    --border: rgb(0, 0, 0);
    --hex-background: rgba(255, 255, 255, 0.3);
    --hover: rgb(150, 150, 150);
    --hover-transparent: rgba(133, 133, 133, 0.5);
    --hex-background-movable: rgba(154, 225, 157, 0.6);
    --reserved: rgba(10, 100, 100, 0.2);
    --menu-background: rgb(217, 217, 217);
    --shadow: rgb(128, 128, 128);
    --icon-background: rgb(255, 255, 255);
    --chosen: rgb(190, 190, 190);
    --scrollbar-track: rgb(241, 241, 241);
    --scrollbar-thumb: rgb(136, 136, 136);
}

body {
    color: var(--font);
    text-align: center;
    background-color: var(--background);
    background-image: url("https://cdn.discordapp.com/attachments/1039961105046437989/1072134876901429298/transparent.png");
    background-size: 250px 200px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hover-transparent);
}

.map {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: calc(var(--map-size) * (var(--cell-size) * 2 + var(--border-width)));
}

.map-row {
    display: flex;
}

.hex {
    float: left;
    margin-left: calc(var(--border-width));
    margin-bottom: calc(var(--border-width) + 2px - var(--cell-size) / 2);
    border-color: var(--hex-background);
    background-color: var(--hex-background);
    visibility: hidden;
    z-index: 30;
}

.hex:hover, .middle:hover {
    background-color: var(--hover-transparent) !important;
    border-color: var(--hover-transparent) !important;
}

.movable {
    background-color: var(--hex-background-movable) !important;
    border-color: var(--hex-background-movable) !important;
}

.hex .middle {
    visibility: initial;
    width: calc(var(--cell-size) * 2);
    height: calc(var(--cell-size) * 2 - 10px);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    flex: 1 0 auto;
    background-color: inherit;
    overflow: hidden;
    background-repeat: no-repeat;
    z-index: 1;

}

.soil-container {
    position: absolute;
    z-index: 0;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin-left: calc(1px + var(--cell-size) + var(--border-width) / 3);
}

.shadow {
    background-image: url("https://cdn.discordapp.com/attachments/1039961105046437989/1060708443645808650/pngfind.com-round-shadow-png-4130139.png");
    background-position: center 78%;
    background-size: calc(var(--cell-size) * 2) calc(var(--cell-size) / 3);
    opacity: 1;
}

.cell-image {
    pointer-events: none;
    visibility: initial;
    opacity: 100;
    position: absolute;
    background-color: transparent;
    margin-left: calc(0px - var(--border-width) * 2);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;

}

.cell-image.medium.blank {
    margin-top: calc(0px - var(--cell-size) * 1.5 - var(--border-width));
}

.cell-image.tiny {
    width: calc(var(--cell-size) * 0.7);
    height: calc(var(--cell-size) * 0.7);
    margin-top: calc(0px - var(--cell-size) * 1.3);
    margin-left: calc(var(--cell-size) * 0.65);
}

.cell-image.tiny.tall {
    background-size: auto calc(var(--cell-size) * 0.7);
}

.cell-image.tiny.round, .cell-image.tiny.flat {
    background-size: calc(var(--cell-size) * 0.7) auto ;
}

.cell-image.small {
    width: calc(var(--cell-size) * 1.3);
    height: calc(var(--cell-size) * 1.3);
    margin-top: calc(0px - var(--cell-size) * 1.7);
    margin-left: calc(var(--cell-size) * 0.35);
}

.cell-image.small.tall {
    background-size: auto calc(var(--cell-size) * 1.3);
}

.cell-image.small.flat {
    background-size: calc(var(--cell-size) * 1.3) auto ;
    background-position: center 85%;
}

.cell-image.small.round {
    background-size: calc(var(--cell-size) * 1.1) auto;
    background-position: center 75%;
}

.cell-image.medium {
    width: calc(var(--cell-size) * 2);
    height: calc(var(--cell-size) * 2);
    margin-top: calc(0px - var(--cell-size) * 2.4);
    margin-left: calc(0px);
}

.cell-image.medium.tall {
    background-size: auto calc(var(--cell-size) * 2);
}

.cell-image.medium.round {
    background-size: calc(var(--cell-size) * 1.8) auto;
    background-position: center 80%;
}

.cell-image.medium.flat {
    background-size: calc(var(--cell-size) * 2.0) auto;
    background-position: center 80%;
}

.cell-image.medium.full {
    border-radius: 50%;
    height: calc(var(--cell-size) * 1.8);
    width: calc(var(--cell-size) * 2.4);
    background-size: calc(var(--cell-size) * 2) calc(var(--cell-size) * 2);
    margin-top: calc(0px - var(--cell-size) * 1.8);
    margin-left: calc(0px - var(--cell-size) / 5);
    overflow: hidden;
}

.cell-image.medium.full.wave {
    animation: wave 3s running infinite;
}

@keyframes wave {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}


.cell-image.medium.tall-over-sized {
    height: calc(var(--cell-size) * 2.7);
    width: calc(var(--cell-size) * 2.5);
    background-size: calc(var(--cell-size) * 2.5) calc(var(--cell-size) * 2.7);
    margin-top: calc(0px - var(--cell-size) * 2.9);
    margin-left: calc(0px - var(--cell-size) / 4);
}

.cell-image.medium.tall-over-sized.fire {
    animation: fire 1s running infinite;
}

@keyframes fire {
    0% {
        transform: scaleY(0.95);
        margin-top: calc(0px - var(--cell-size) * 2.85)
    }
    50% {
        transform: scaleY(1);
        margin-top: calc(0px - var(--cell-size) * 2.9);
    }
    100% {
        transform: scaleY(0.95);
        margin-top: calc(0px - var(--cell-size) * 2.85)
    }
}

.cell-image.medium.round-over-sized {
    background-size: calc(var(--cell-size) * 2) calc(var(--cell-size) * 2);
}

.cell-image.medium.flat-over-sized {
    background-size: calc(var(--cell-size) * 2) calc(var(--cell-size) * 1.22);
    background-position: center 80%;
}

.cell-image.large {
    width: calc(var(--cell-size) * 4);
    height: calc(var(--cell-size) * 3.5);
    margin-top: calc(0px - var(--cell-size) * 4);
    margin-left: calc(0px - var(--cell-size) * 2 - var(--border-width) * 0.5);

}

.cell-image.large.tall {
    background-size: auto calc(var(--cell-size) * 3.5);
}

.cell-image.large.round {
    background-size: auto calc(var(--cell-size) * 2.8);
    background-position: center 80%;
}

.cell-image.large.flat {
    background-size: calc(var(--cell-size) * 4) auto;
    background-position: center 90%;
}

.cell-image.huge {
    width: calc(var(--cell-size) * 6);
    height: calc(var(--cell-size) * 5);
    margin-top: calc(0px - var(--cell-size) * 5.5);
    margin-left: calc(0px - var(--cell-size) * 3 - var(--border-width) * 0.5);
}

.cell-image.huge.tall {
    background-size: auto calc(var(--cell-size) * 5);
}

.cell-image.huge.flat {
    background-size: calc(var(--cell-size) * 6) auto;
}

.cell-image.huge.round {
    background-size: auto calc(var(--cell-size) * 4);
}

.cell-image.gargantuan {
    width: calc(var(--cell-size) * 8);
    height: calc(var(--cell-size) * 6);
    margin-left: calc(0px - var(--cell-size) * 5 - var(--border-width));
    margin-top: calc(0px - var(--cell-size) * 6.5);
}

.cell-image.gargantuan.tall {
    background-size: auto calc(var(--cell-size) * 6);
}

.cell-image.gargantuan.flat {
    background-size: calc(var(--cell-size) * 8) auto;
    background-position: center 60%;
}

.cell-image.gargantuan.round {
    background-size: auto calc(var(--cell-size) * 5.5);
    background-position: center 75%;
}

.context-menu {
    border: var(--border) none 0;
    box-shadow: 5px 10px 5px var(--shadow);
    position: absolute;
    background-color: var(--menu-background);
    max-height: 450px;
    content-visibility: auto;
    overflow-y: auto;

}

.context-menu-active {
    display: block;
    z-index: calc(var(--map-size) * 2 + 10);
}

.context-menu-inactive {
    display: none;
}

.context-menu-button-container {
    display: flex;
    flex-direction: row;
}

.context-menu-button-icon {
    height: 20px;
    z-index: calc(var(--map-size) * 2 + 1);
}

.context-menu-button, .context-menu-button-active {
    border-left: none;
    border-top: none;
    border-radius: 0;
    flex-grow: 3;
    z-index: calc(var(--map-size) * 2 + 2);
    font-weight: normal;
}

.context-menu-option.option {
    flex-direction: row;
}

.context-menu-button .context-menu-button-active-chosen {

    font-size: 30px;
}

.context-menu-button:last-child, .context-menu-button-active:last-child {
    border-right: none;
}

.context-menu-button {
    background-color: var(--icon-background);
}

.context-menu-button-active {
    background-color: var(--menu-background);
    border-bottom: none;
}

.context-menu-option, .side-bar-option {
    padding: 5px 9px 5px 9px;
    min-width: 150px;
}

.context-option-image {
    margin-left: 5px;
    height: 25px;
    vertical-align: middle;
}

.context-menu-option.context-menu-option-active-chosen {
    background-color: var(--chosen);
    height: max-content;
}

.context-menu-option-active-chosen:hover {
    font-weight: bolder;
}

.context-menu-option.context-menu-option-active {
    font-weight: normal;
}

.context-menu-option-inactive {
    display: none;
}

.context-menu-option-active {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.on-hover:hover {
    background-color: var(--hover);
}

.context-menu-option:last-child {
    padding-bottom: 6px;
}

.context-menu-option:first-child {
    padding-top: 6px;
}

.shape-button:hover {
    background-color: var(--hover);
}

.shape-button, .size-dropdown-button, .speed-setter {
    height: 25px;
    width: 25px;
    overflow: hidden;
    border: var(--border) solid 1px;
    border-radius: 4px;
    margin-left: 3px;
}

.shape-image, .size-image{
    margin-top: 3px;
    height: 19px;
    width: 19px;
}

.speed-setter {
 text-align: center;
}

.size-dropdown-container {
    background-color: var(--menu-background);
}

.size-dropdown-button {
    margin-bottom: 10px;
}

.size-dropdown-button:hover {
    background-color: var(--hover);
}

.size-dropdown-option {
    background-color: var(--menu-background);
    text-align: left;
    padding: 0 5px 5px 5px;
}

.size-dropdown-option {
    position: absolute;
    border-left: var(--border) solid;
    border-right: var(--border) solid;
}

.size-dropdown-option:last-child {
    border-bottom: var(--border) solid;
}

.size-dropdown-option:first-child {
    border-top: var(--border) solid;
}

.size-dropdown-option.active {
    display: block;
}

.size-dropdown-option.inactive {
    display: none;
}

.sidebar-container, .background-changer-container, .color-changer-container {
    position: fixed;
    top: 10px;
    z-index: calc(var(--map-size) * 2 + 10);
}

.sidebar-container {
    left: 10px;
}

.background-changer-container {
    display: flex;
    flex-direction: column;
}

.background-changer-container {
    right: 10px;
}

.color-changer-container {
    left: 50%;
}

.editor-icon-container, .color-changer-container {
    display: flex;
    flex-direction: row;
}

.sidebar-icon,
.selected-option-active,
.background-icon-active,
.background-option-icon-active,
.color-changer-icon {
    height: 50px;
    width: 50px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--icon-background);
    border: solid var(--border) 1px;
    border-radius: 5px;
}

.background-option-icon-active.selected-background {
    background-color: var(--chosen);
}

.sidebar-icon {
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar-icon:hover, .background-option-icon-active:hover, .background-icon-active:hover {
    background-color: var(--hover);
}

.delete-active {
    background-size: 40px;
    background-image: url("https://cdn.discordapp.com/attachments/1039961105046437989/1042166435872518164/output-onlinepngtools_1.png");
}

.delete-inactive {
    background-size: 40px;
    background-image: url("https://cdn.discordapp.com/attachments/1039961105046437989/1042166244201201685/output-onlinepngtools.png");
}

.sidebar-active {
    display: block;
    position: absolute;
    background-color: var(--menu-background);
    content-visibility: auto;
    overflow-y: auto;
    width: 250px;
    max-height: 600px;
    border: solid var(--border) 1px;
    border-radius: 5px;
}

.map-editor-sidebar-active {
    padding-left: 270px;
}

.sidebar-inactive, .selected-option-inactive {
    display: none;
}

.sidebar {
    border: var(--border) none 0;
    box-shadow: 5px 10px 5px var(--shadow);
    position: absolute;
    background-color: var(--menu-background);
    content-visibility: auto;
    overflow-y: auto;
    width: max-content;
    max-width: 250px;
}

.sidebar-option:hover {
    background-color: var(--hover);
}

.sidebar-option {
    margin: 2px 0 2px 0;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-option-icon {
    border-radius: 3px;
    margin: 0 0 0 20px;
    vertical-align: middle;
    background-size: 25px;
    height: 25px;
}

.search-dropdown {
    background-color: var(--menu-background);
    border: var(--border) solid;
    max-height: 200px;
    overflow-y: auto;
}

#monster-search-container {
    flex-direction: column;
}

.search-option {
    justify-content: center;
    margin-top: 5px;
}

.search-option:hover {
    background-color: var(--hover);
}

.active {
    display: block;
}

.inactive {
    display: none
}
