:root {
    --cell-size: 50px;
    --border-width: 3px;
    --map-size: 40;
}

body {
    text-align: center;
    background-color: black;

}

.map {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: calc(var(--map-size) * (var(--cell-size) * 2 + var(--border-width)));
}

.map-row {
    display: flex;
}

.hex {
    float: left;
    margin-left: calc(var(--border-width));
    margin-bottom: calc(var(--border-width) - var(--cell-size) / 2);
    border-color: white;
    background-color: white;
    visibility: hidden;
}

.hex:hover, .middle:hover {
    background-color: #868585;
    border-color: #868585;
}

.movable {
    background-color: rgba(154, 225, 157, 0.99);
    border-color: rgba(154, 225, 157, 0.99);
}

.hex .top {
    width: 0;
    border-bottom: calc(var(--cell-size) / 2) solid white;
    border-color: inherit;
    background-color: transparent;
    border-left: var(--cell-size) solid transparent;
    border-right: var(--cell-size) solid transparent;
    visibility: initial;
}

.hex .middle {
    visibility: initial;
    width: calc(var(--cell-size) * 2);
    height: calc(var(--cell-size) - 10px);
    flex: 1 0 auto;
    background-color: inherit;
    overflow: hidden;
    background-repeat: no-repeat;
}

.hex .bottom {
    visibility: initial;
    width: 0;
    border-top: calc(var(--cell-size) / 2) solid white;
    border-color: inherit;
    border-left: var(--cell-size) solid transparent;
    border-right: var(--cell-size) solid transparent;
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin-left: calc(1px + var(--cell-size) + var(--border-width) / 3);
}

.living {
    animation: pulse 3.5s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

.shadow {
    background-image: url("https://cdn.discordapp.com/attachments/1039961105046437989/1060708443645808650/pngfind.com-round-shadow-png-4130139.png");
    background-position: bottom;
    background-size: calc(var(--cell-size) * 2) calc(var(--cell-size) / 3)
}

.shadow-left {
    background-image: url("https://cdn.discordapp.com/attachments/1039961105046437989/1060708443645808650/pngfind.com-round-shadow-png-4130139.png");
    background-position: bottom left;
    background-size: calc(var(--cell-size) * 4) calc(var(--cell-size) / 2.5)
}

.shadow-right {
    background-image: url("https://cdn.discordapp.com/attachments/1039961105046437989/1060708443645808650/pngfind.com-round-shadow-png-4130139.png");
    background-position: bottom right;
    background-size: calc(var(--cell-size) * 4) calc(var(--cell-size) / 2.5)
}

.cell-image {
    pointer-events: none;
    visibility: initial;
}

.cell-image, [data-z-index] {
    position: absolute;
    background-color: transparent;
    margin-left: calc(0px - var(--border-width) * 2);
    background-repeat: no-repeat;
    background-position: center;
    z-index: attr(data-z-index number);
}

.cell-image.medium.blank {
    margin-top: calc(0px - var(--cell-size) * 1.5 - var(--border-width));
}

.cell-image.tiny {
    width: calc(var(--cell-size) * 0.7);
    height: calc(var(--cell-size) * 0.7);
    background-size: auto calc(var(--cell-size) * 0.7);
    margin-top: calc(0px - var(--cell-size) * 1.2);
    margin-left: calc(var(--cell-size) * 0.7);
}

.cell-image.small {
    width: calc(var(--cell-size) * 2);
    height: calc(var(--cell-size) * 1.5);
    background-size: auto calc(var(--cell-size) * 1.4);
    margin-left: auto;
    margin-top: calc(0px - var(--cell-size) * 2);
}

.cell-image.small.tall {
    margin-top: calc(0px - var(--cell-size) * 1.95);
}

.cell-image.small.flat {
    background-size: auto calc(var(--cell-size) * 1);
}

.cell-image.medium {
    width: calc(var(--cell-size) * 2);
    height: calc(var(--cell-size) * 2);
    background-size: auto calc(var(--cell-size) + var(--border-width) * 4);
    margin-left: auto;
}

.cell-image.medium.tall {
    background-size: auto calc(var(--cell-size) * 1.9);
    margin-top: calc(0px - var(--cell-size) * 2.5);
}

.cell-image.medium.tall.dwarf {
    background-size: auto calc(var(--cell-size) * 1.5);
    margin-top: calc(0px - var(--cell-size) * 2.3);
}

.cell-image.medium.round {
    background-size: calc(var(--cell-size) * 1.8) auto;
    margin-top: calc(0px - var(--cell-size) * 2.2);
}

.cell-image.medium.flat {
    width: calc(var(--cell-size) * 2.3);
    background-size: calc(var(--cell-size) * 2.4) calc(var(--cell-size) * 1.5);
    margin-top: calc(0px - var(--cell-size) * 2.2);
    margin-left: calc(0px - var(--cell-size) / 10);
}

.cell-image.medium.oni {
    height: calc(var(--cell-size) * 2);
    width: calc(var(--cell-size) * 2.1);
    background-size: calc(var(--cell-size) * 2.5) calc(var(--cell-size) * 2);
    margin-top: calc(0px - var(--cell-size) * 2.5);
}

.cell-image.medium.full {
    border-radius: 50%;
    height: calc(var(--cell-size) * 1.8);
    width: calc(var(--cell-size) * 2.4);
    background-size: calc(var(--cell-size) * 2) calc(var(--cell-size) * 2);
    margin-top: calc(0px - var(--cell-size) * 1.8);
    margin-left: calc(0px - var(--cell-size) / 5);
}

.cell-image.medium.full.wave {
    animation: wave 3s running infinite;
}

@keyframes wave {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}


.cell-image.medium.tree {
    height: calc(var(--cell-size) * 2.7);
    width: calc(var(--cell-size) * 2.5);
    background-size: calc(var(--cell-size) * 2.5) calc(var(--cell-size) * 2.7);
    margin-top: calc(0px - var(--cell-size) * 2.9);
    margin-left: calc(0px - var(--cell-size) / 4);
}

.cell-image.medium.tree.wave {
    animation: fire 1s running infinite;
}

@keyframes fire {
    0% {transform: scaleY(0.95);margin-top: calc(0px - var(--cell-size) * 2.83)}
    50%{transform: scaleY(1);     margin-top: calc(0px - var(--cell-size) * 2.9);}
    100% {transform: scaleY(0.95);margin-top: calc(0px - var(--cell-size) * 2.83)
    }
}

.cell-image.medium.bush {
    height: calc(var(--cell-size) * 2);
    width: calc(var(--cell-size) * 2.2);
    background-size: calc(var(--cell-size) * 2.2) calc(var(--cell-size) * 2);
    margin-top: calc(0px - var(--cell-size) * 2);
    margin-left: calc(0px - var(--cell-size) / 10);
}

.cell-image.medium.table {
    height: calc(var(--cell-size) * 2);
    width: calc(var(--cell-size) * 2.2);
    background-size: calc(var(--cell-size) * 2) calc(var(--cell-size) * 1.22);
    margin-top: calc(0px - var(--cell-size) * 2);
    margin-left: calc(0px - var(--cell-size) / 10);
}

.cell-image.large {
    width: calc(var(--cell-size) * 4);
    height: calc(var(--cell-size) * 4);
    margin-left: auto;
}

.cell-image.large.tall {
    background-size: auto calc(var(--cell-size) * 3.5);
    margin-top: calc(0px - var(--cell-size) * 4.4);
}

.cell-image.large.round {
    background-size: auto calc(var(--cell-size) * 3);
    margin-top: calc(0px - var(--cell-size) * 4.2);
}


.cell-image.large.flat {
    height: calc(var(--cell-size) * 2.5);
    margin-top: calc(0px - var(--cell-size) * 3);
    background-size: calc(var(--cell-size) * 4) auto;
}

.cell-image.huge {
    width: calc(var(--cell-size) * 4.5);
    height: calc(var(--cell-size) * 4.5);
    margin-left: auto;
}

.cell-image.huge.tall {
    background-size: auto calc(var(--cell-size) * 4.5);
    margin-top: calc(0px - var(--cell-size) *3.8);
    margin-left: calc(0px - var(--cell-size)*1.15);
}

.cell-image.huge.flat{
    width: calc(var(--cell-size) * 6.5);
    background-size: calc(var(--cell-size) * 6.5) auto;
    margin-top: calc(0px - var(--cell-size) *3.2);
    margin-left: calc(0px - var(--cell-size)*2.25);
}


.context-menu {
    border: black none 0;
    box-shadow: 5px 10px 5px gray;
    position: absolute;
    background-color: #d9d9d9;
    max-height: 300px;
    content-visibility: auto;
    overflow-y: auto;
    width: max-content;
    max-width: 250px;
}

.context-menu-active {
    display: block;
    z-index: calc(var(--map-size) * 2 + 10);
}

.context-menu-inactive {
    display: none;
}

.context-menu-button-container {
    display: flex;
    flex-direction: row;
}

.context-menu-button-icon {
    height: 20px;
    z-index: calc(var(--map-size) * 2 + 1);
}

.context-menu-button, .context-menu-button-active {
    border-left: none;
    border-top: none;
    border-radius: 0;
    flex-grow: 3;
    z-index: calc(var(--map-size) * 2 + 2);
}


.context-menu-button:last-child, .context-menu-button-active:last-child {
    border-right: none;
}

.context-menu-button-active {
    background-image: linear-gradient(#eeeeee, #d8d8d8);
    border-bottom: none;
}

.context-menu-option,.context-menu-monster-option-active,.context-menu-monster-option-inactive, .side-bar-option {
    padding: 5px 9px 5px 9px;
    min-width: 150px;
}

.context-option-image {
    height: 25px;
    vertical-align: middle;
}

.context-menu-option-inactive,.context-menu-monster-option-inactive {
    display: none;
}

.context-menu-option-active,.context-menu-monster-option-active {
    display: block;
}

.context-menu-option:hover,.context-menu-monster-option-inactive:hover, .context-menu-button:hover {
    background-color: #a9a9a9;
}

.context-menu-option:last-child {
    padding-bottom: 6px;
}

.context-menu-option:first-child {
    padding-top: 6px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sidebar-container {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: calc(var(--map-size) * 2 + 10);
}

.editor-icon-container {
    display: flex;
    flex-direction: row;
}

.sidebar-icon, .selected-option-active {
    height: 50px;
    width: 50px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
}

.sidebar-icon {
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar-icon:hover {
    background-color: #dedcdc;
}

.delete-active {
    background-size: 40px;
    background-image: url("https://cdn.discordapp.com/attachments/1039961105046437989/1042166435872518164/output-onlinepngtools_1.png");
}

.delete-inactive {
    background-size: 40px;
    background-image: url("https://cdn.discordapp.com/attachments/1039961105046437989/1042166244201201685/output-onlinepngtools.png");
}

.sidebar-active {
    display: block;
    border: black none 0;
    position: absolute;
    background-color: #d9d9d9;
    content-visibility: auto;
    overflow-y: auto;
    width: 250px;
    max-height: 800px;
}

.map-editor-sidebar-active {
    padding-left: 270px;
}

.sidebar-inactive, .selected-option-inactive {
    display: none;
}

.sidebar {
    border: black none 0;
    box-shadow: 5px 10px 5px gray;
    position: absolute;
    background-color: #d9d9d9;
    content-visibility: auto;
    overflow-y: auto;
    width: max-content;
    max-width: 250px;
}

.sidebar-option:hover {
    background-color: #a9a9a9;
}

.sidebar-option-icon {
    height: 25px;
}
